In [ ]:
import os
import pandas as pd

In [ ]:
airlines = pd.read_csv('files/airlines.csv')
flights = pd.read_csv('files/flights.csv')
planes = pd.read_csv('files/planes.csv')
weather = pd.read_csv('files/weather.csv')
airports = pd.read_csv('files/airports.csv')

In [ ]:
airports.faa.value_counts() # 1458

In [ ]:
Composite PK is : year, month, dat, hour, origin

In [ ]:
weather.shape # 26 130

In [ ]:
weather[['year', 'month', 'day', 'hour','origin']].drop_duplicates() # 26 130

In [ ]:
flights can't have composite pk with date and origin or tailnum

In [ ]:
flights.shape # 336 776

In [ ]:
flights[['year', 'month', 'day', 'hour','origin']].drop_duplicates() # 19486

In [ ]:
flights[['year', 'month', 'day', 'hour','origin', 'tailnum']].drop_duplicates() # 335592

In [ ]:
Les problèmes :

In [ ]:
Problème 1 : Aeroport dans flight mais non dans aeroport

In [249]:
pb1a = flights['dest'][~flights['dest'].isin(airports['faa'])]
pb1a.drop_duplicates()
# insert les lignes manquantes

3      BQN
28     SJU
178    STT
835    PSE
Name: dest, dtype: object

In [ ]:
pb1b = flights['origin'][~flights['origin'].isin(airports['faa'])]
pb1b

In [ ]:
Problème 2: des planes dans flights mais non existante dans planes

In [254]:
pb2 = flights['tailnum'][~flights['tailnum'].isin(planes['tailnum'])]
pb2.drop_duplicates()
# insert les lignes manquantes !!!!!!

9         N3ALAA
14        N3DUAA
18        N542MQ
21        N730MQ
25        N9EAMQ
           ...
266825    N823MQ
290770    N5FCAA
294243    N5ERAA
302529    N654MQ
324307    N647MQ
Name: tailnum, Length: 722, dtype: object

In [ ]:
Problème 3: données meteo dans flights mais pas dans weather !!

In [257]:
weather.head(20)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,0,37.04,21.92,53.97,230,10.357019999999999,11.918651475599997,0.0,1013.9,10.0,2013-01-01T00:00:00Z
1,EWR,2013,1,1,1,37.04,21.92,53.97,230,13.809359999999998,15.891535300799996,0.0,1013,10.0,2013-01-01T01:00:00Z
2,EWR,2013,1,1,2,37.94,21.92,52.09,230,12.658579999999999,14.567240692399997,0.0,1012.6,10.0,2013-01-01T02:00:00Z
3,EWR,2013,1,1,3,37.94,23,54.51,230,13.809359999999998,15.891535300799996,0.0,1012.7,10.0,2013-01-01T03:00:00Z
4,EWR,2013,1,1,4,37.94,24.08,57.04,240,14.960139999999999,17.215829909199996,0.0,1012.8,10.0,2013-01-01T04:00:00Z
5,EWR,2013,1,1,6,39.02,26.06,59.37,270,10.357019999999999,11.918651475599997,0.0,1012,10.0,2013-01-01T06:00:00Z
6,EWR,2013,1,1,7,39.02,26.96,61.63,250,8.05546,9.2700622588,0.0,1012.3,10.0,2013-01-01T07:00:00Z
7,EWR,2013,1,1,8,39.02,28.04,64.43,240,11.5078,13.242946083999998,0.0,1012.5,10.0,2013-01-01T08:00:00Z
8,EWR,2013,1,1,9,39.92,28.04,62.21,250,12.658579999999999,14.567240692399997,0.0,1012.2,10.0,2013-01-01T09:00:00Z
9,EWR,2013,1,1,10,39.02,28.04,64.43,260,12.658579999999999,14.567240692399997,0.0,1011.9,10.0,2013-01-01T10:00:00Z
10,EWR,2013,1,1,11,37.94,28.04,67.21,240,11.5078,13.242946083999998,0.0,1012.4,10.0,2013-01-01T11:00:00Z
11,EWR,2013,1,1,12,39.02,28.04,64.43,240,14.960139999999999,17.215829909199996,0.0,1012.2,10.0,2013-01-01T12:00:00Z
12,EWR,2013,1,1,13,39.92,28.04,62.21,250,10.357019999999999,11.918651475599997,0.0,1012.2,10.0,2013-01-01T13:00:00Z
13,EWR,2013,1,1,14,39.92,28.04,62.21,260,14.960139999999999,17.215829909199996,0.0,1012.7,10.0,2013-01-01T14:00:00Z
14,EWR,2013,1,1,15,41,28.04,59.65,260,13.809359999999998,15.891535300799996,0.0,1012.4,10.0,2013-01-01T15:00:00Z
15,EWR,2013,1,1,16,41,26.96,57.06,260,14.960139999999999,17.215829909199996,0.0,1011.4,10.0,2013-01-01T16:00:00Z
16,EWR,2013,1,1,17,39.2,28.4,64.93,270,16.11092,18.5401245176,0.0,,10.0,2013-01-01T17:00:00Z
17,EWR,2013,1,1,18,39.2,28.4,64.93,330,14.960139999999999,17.215829909199996,0.0,,10.0,2013-01-01T18:00:00Z
18,EWR,2013,1,1,19,39.02,24.08,54.68,280,13.809359999999998,15.891535300799996,0.0,1010.8,10.0,2013-01-01T19:00:00Z
19,EWR,2013,1,1,20,37.94,24.08,57.04,290,9.20624,10.594356867199998,0.0,1011.9,10.0,2013-01-01T20:00:00Z

In [256]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T05:00:00Z
1,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01T05:00:00Z
2,2013,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2013-01-01T05:00:00Z
3,2013,1,1,544,545,-1,1004,1022,-18,B6,725,N804JB,JFK,BQN,183,1576,5,45,2013-01-01T05:00:00Z
4,2013,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2013-01-01T06:00:00Z

In [ ]:
flights[['month', 'year', 'day', 'hour', 'origin']] # dep_time get hour -- hour :: groupby("month","jour","hour","origin")

In [ ]:
5--

In [ ]:
dest_per_carrier = flights.groupby("carrier")["dest"].count()

In [ ]:
origin_per_carrier = flights.groupby("carrier")["origin"].count()

In [ ]:
dest_per_carrier.plot()

In [ ]:
origin_per_carrier.plot()

In [ ]:
4 --

In [ ]:
flights["origin"].value_counts()

In [ ]:
flights["dest"].value_counts().head(10)

In [ ]:
flights["dest"].value_counts(ascending=True).head(10)

In [232]:
flights.groupby("tailnum")["origin"].count().sort_values(ascending=False)

tailnum
          2512
N725MQ     575
N722MQ     513
N723MQ     507
N711MQ     486
          ...
N661UA       1
N837AW       1
N836AW       1
N835MH       1
N820AW       1
Name: origin, Length: 4044, dtype: int64

In [263]:
flights[flights["tailnum"] == " "] ## PROBLEEEEEEEMMMMMOOOOOOOOOOOOOOOXXXX 2512 flights sans tailnum et autre

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1782,2013,1,2,,1545,,,1910,,AA,133,,JFK,LAX,,2475,15,45,2013-01-02T15:00:00Z
1784,2013,1,2,,1601,,,1735,,UA,623,,EWR,ORD,,719,16,1,2013-01-02T16:00:00Z
2697,2013,1,3,,857,,,1209,,UA,714,,EWR,MIA,,1085,8,57,2013-01-03T08:00:00Z
2698,2013,1,3,,645,,,952,,UA,719,,EWR,DFW,,1372,6,45,2013-01-03T06:00:00Z
3608,2013,1,4,,845,,,1015,,9E,3405,,JFK,DCA,,213,8,45,2013-01-04T08:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334186,2013,9,27,,1600,,,1739,,UA,269,,LGA,ORD,,733,16,0,2013-09-27T16:00:00Z
334868,2013,9,28,,1635,,,1827,,US,581,,EWR,CLT,,529,16,35,2013-09-28T16:00:00Z
335782,2013,9,29,,700,,,833,,UA,331,,LGA,ORD,,733,7,0,2013-09-29T07:00:00Z
336771,2013,9,30,,1455,,,1634,,9E,3393,,JFK,DCA,,213,14,55,2013-09-30T14:00:00Z
336772,2013,9,30,,2200,,,2312,,9E,3525,,LGA,SYR,,198,22,0,2013-09-30T22:00:00Z

In [ ]:
3--

In [ ]:
airports["tzone"][airports["dst"] == "N"].nunique()

In [ ]:
#### REGEX

In [264]:
airports.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [267]:
flights.shape

(336776, 19)

In [280]:
airports.faa.str.match('^[A-Z0-9]{3}$').any(axis=0) # [A-Z0-9]{3}

True