# PROJET PYTHON : TRAFFIC AERIEN

In [10]:
import pandas as pd
pd.__version__

'1.1.3'

In [42]:
#airports = pd.read_csv('db/airports.csv')

In [43]:
#airlines = pd.read_csv('db/airlines.csv')

In [44]:
#flights = pd.read_csv('db/flights.csv')

In [45]:
#planes = pd.read_csv('db/planes.csv')

## QUESTION 2
### Nombre d'aéroports :

In [14]:
#SELECT COUNT(DISTINCT name ) FROM db.airports; 1440
airports[['name']].nunique()

name    1440
dtype: int64

### Nombre de compagnies :

In [15]:
# SELECT COUNT(DISTINCT name) FROM db.airlines; 16
airlines.carrier.count()

16

### Nombre de destinations :

In [18]:
#SELECT COUNT(DISTINCT dest) FROM db.flights; 105
flights[['dest']].nunique()

dest    105
dtype: int64

### Nombre d'avions

In [19]:
#SELECT COUNT(DISTINCT tailnum) FROM db.planes; 3322
planes[['tailnum']].nunique()

tailnum    3322
dtype: int64

### Nombre de fuseaux horaires

In [20]:
# SELECT COUNT(DISTINCT tz) FROM db.airports; 7
airports[['tz']].nunique()

tz    7
dtype: int64

## QUESTION 3

In [21]:
airports = pd.read_csv('db/airports.csv')

# SELECT count(DISTINCT tzone) FROM db.airports WHERE dst ='N';
airports['tzone'][airports['dst'] == 'N'].nunique()

4

## QUESTION 4

In [35]:
# aéroport le plus emprunté
flights["origin"].value_counts()

EWR    120835
JFK    111279
LGA    104662
Name: origin, dtype: int64

In [37]:
# pd.concat([df1, df4], axis=1, join='inner')

## QUESTION 5

In [41]:
# nombre de destination de chaque compagnie:
# SELECT carrier , count(dest) as nbdest from db.flights group by carrier

# nombre d'origine :
# SELECT carrier , count(origin) as nborigin from db.flights group by carrier

## QUESTION 6

In [ ]:
# A)
# SELECT count(*) from db.flights where dest ='IAH' or dest ='HOU'

In [ ]:
# B)1
# SELECT count(*) FROM db.airports ap, db.flights f where ap.faa = f.origin and ap.tzone = 'America/New_York' and dest = 'SEA';

# B)2
# select count(DISTINCT carrier) from db.flights where dest = 'SEA'

# B)3
# select count(distinct tailnum) from db.flights where dest ='SEA'

## QUESTION 7

In [ ]:
# SELECT distinct ap1.name as airport_dest, ap2.name as airport_origin,  al.name as name_carrier , origin ,dest, fl.carrier , flight
# FROM db.flights fl , db.airports ap1 , db.airports ap2, db.airlines al
# WHERE fl.dest = ap1.faa
# AND fl.origin = ap2.faa
# AND fl.carrier = al.carrier
# ORDER BY airport_dest, flight asc

## QUESTION 8

In [ ]:
# SELECT count(distinct origin) as nb_origin, fl.carrier, al.name , count(distinct fl.dest) as nb_dest
# FROM db.flights fl, db.airlines al
# WHERE fl.carrier = al.carrier
# group by fl.carrier
# order by nb_dest desc

## QUESTION 9

In [38]:
# ????

## QUESTION 10

In [40]:
# SELECT count(*)
# FROM db.flights fl, db.airlines al
# WHERE fl.carrier = al.carrier
# AND (    
# al.name LIKE 'American%'
# OR al.name LIKE  'United%'
# OR al.name LIKE 'Delta%'
# )